In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
artists_file = "Resources/artists.csv"
artists_df = pd.read_csv(artists_file)
artists_df.head()

   Artist ID             Name Nationality Gender  Birth Year  Death Year
0          1   Robert Arneson    American   Male      1930.0      1992.0
1          2   Doroteo Arnaiz     Spanish   Male      1936.0         NaN
2          3      Bill Arnold    American   Male      1941.0         NaN
3          4  Charles Arnoldi    American   Male      1946.0         NaN
4          5      Per Arnoldi      Danish   Male      1941.0         NaN

In [3]:
engine = create_engine(f'postgres://postgres:Brit@localhost:5432/ArtHistory')
connection = engine.connect()

In [4]:
artworks_file = "Resources/artworks.csv"
artworks_df = pd.read_csv(artworks_file)
artworks_df.head()

,Artwork ID,Title,Artist ID,Name,Date,Medium,Dimensions,Acquisition Date,Credit,Catalogue,...,Classification,Object Number,Diameter (cm),Circumference (cm),Height (cm),Length (cm),Width (cm),Depth (cm),Weight (kg),Duration (s)
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,Otto Wagner,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Fractional and promised gift of Jo Carole and ...,Y,...,Architecture,885.1996,NaN,NaN,48.6000,NaN,168.9000,NaN,NaN,NaN
1,3,"City of Music, National Superior Conservatory ...",7470,Christian de Portzamparc,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Gift of the architect in honor of Lily Auchinc...,Y,...,Architecture,1.1995,NaN,NaN,40.6401,NaN,29.8451,NaN,NaN,NaN
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,Emil Hoppe,1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,1.1997,NaN,NaN,34.3000,NaN,31.8000,NaN,NaN,NaN
3,5,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1980,Photographic reproduction with colored synthet...,"20 x 20"" (50.8 x 50.8 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,2.1995,NaN,NaN,50.8000,NaN,50.8000,NaN,NaN,NaN
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,Emil Hoppe,1903,"Graphite, color pencil, ink, and gouache on tr...","15 1/8 x 7 1/2"" (38.4 x 19.1 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,2.1997,NaN,NaN,38.4000,NaN,19.1000,NaN,NaN,NaN

In [5]:
artists_df = artists_df.dropna()

In [6]:
artists_df_clean = artists_df.loc[artists_df['Birth Year'].isna() == False]
artists_df_clean

,Artist ID,Name,Nationality,Gender,Birth Year,Death Year
0,1,Robert Arneson,American,Male,1930.0,1992.0
9,11,Jean (Hans) Arp,French,Male,1886.0,1966.0
11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995.0
12,15,Folke Arstrom,Swedish,Male,1907.0,1997.0
13,16,Cristobal Arteche,Spanish,Male,1900.0,1964.0
...,...,...,...,...,...,...
15017,50164,Albert Kahn,American,Male,1869.0,1942.0
15021,66584,Ignazio Gardella,Italian,Male,1905.0,1999.0
15024,67016,Spencer Williams,American,Male,1893.0,1969.0
15027,67100,Ali Tayar,American,Male,1959.0,2016.0
15036,67128,Egidio Bonfante,Italian,Male,1922.0,2004.0

In [7]:
artists_df_clean = artists_df_clean.drop_duplicates(['Artist ID'])
artists_df_clean

,Artist ID,Name,Nationality,Gender,Birth Year,Death Year
0,1,Robert Arneson,American,Male,1930.0,1992.0
9,11,Jean (Hans) Arp,French,Male,1886.0,1966.0
11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995.0
12,15,Folke Arstrom,Swedish,Male,1907.0,1997.0
13,16,Cristobal Arteche,Spanish,Male,1900.0,1964.0
...,...,...,...,...,...,...
15017,50164,Albert Kahn,American,Male,1869.0,1942.0
15021,66584,Ignazio Gardella,Italian,Male,1905.0,1999.0
15024,67016,Spencer Williams,American,Male,1893.0,1969.0
15027,67100,Ali Tayar,American,Male,1959.0,2016.0
15036,67128,Egidio Bonfante,Italian,Male,1922.0,2004.0

In [8]:
artists_df_clean_new = artists_df_clean[["Artist ID", "Name", "Nationality", "Gender", "Birth Year"]].copy()
artists_df_clean_new = artists_df_clean_new

In [9]:
artists_df_final = artists_df_clean_new.rename(columns={"Artist ID":"artist_id", "Name":"name", "Nationality":"nationality", "Gender":"gender", "Birth Year": "birth_year"})

In [10]:
artworks_df['Department']

0              Architecture & Design
1              Architecture & Design
2              Architecture & Design
3              Architecture & Design
4              Architecture & Design
                     ...
130257             Fluxus Collection
130258             Fluxus Collection
130259             Fluxus Collection
130260             Fluxus Collection
130261    Prints & Illustrated Books
Name: Department, Length: 130262, dtype: object

In [11]:
artworks_df_clean = artworks_df[['Artwork ID', 'Title', 'Artist ID', 'Date', 'Department', 'Classification', 'Medium']].copy()
artworks_df_clean

,Artwork ID,Title,Artist ID,Date,Department,Classification,Medium
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,1896,Architecture & Design,Architecture,Ink and cut-and-pasted painted pages on paper
1,3,"City of Music, National Superior Conservatory ...",7470,1987,Architecture & Design,Architecture,Paint and colored pencil on print
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,1903,Architecture & Design,Architecture,"Graphite, pen, color pencil, ink, and gouache ..."
3,5,"The Manhattan Transcripts Project, New York, N...",7056,1980,Architecture & Design,Architecture,Photographic reproduction with colored synthet...
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,1903,Architecture & Design,Architecture,"Graphite, color pencil, ink, and gouache on tr..."
...,...,...,...,...,...,...,...
130257,217983,Seul/NY/MAX,4469,NaN,Fluxus Collection,Media,VHS
130258,217984,Fluxus-Manifestatie in en Rond Kunsthandel Monet,NaN,1962,Fluxus Collection,Media,VHS
130259,217985,Fluxphone Compositions,67695,1969,Fluxus Collection,Media,Cassette
130260,217986,Unidentified,NaN,NaN,Fluxus Collection,Media,Cassette
130261,218011,Portrait of Takako Saito,21398,NaN,Prints & Illustrated Books,Photograph,Gelatin silver print

In [12]:
artworks_df_clean = artworks_df_clean.drop_duplicates(['Artwork ID'])
artworks_df_clean

,Artwork ID,Title,Artist ID,Date,Department,Classification,Medium
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,1896,Architecture & Design,Architecture,Ink and cut-and-pasted painted pages on paper
1,3,"City of Music, National Superior Conservatory ...",7470,1987,Architecture & Design,Architecture,Paint and colored pencil on print
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,1903,Architecture & Design,Architecture,"Graphite, pen, color pencil, ink, and gouache ..."
3,5,"The Manhattan Transcripts Project, New York, N...",7056,1980,Architecture & Design,Architecture,Photographic reproduction with colored synthet...
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,1903,Architecture & Design,Architecture,"Graphite, color pencil, ink, and gouache on tr..."
...,...,...,...,...,...,...,...
130257,217983,Seul/NY/MAX,4469,NaN,Fluxus Collection,Media,VHS
130258,217984,Fluxus-Manifestatie in en Rond Kunsthandel Monet,NaN,1962,Fluxus Collection,Media,VHS
130259,217985,Fluxphone Compositions,67695,1969,Fluxus Collection,Media,Cassette
130260,217986,Unidentified,NaN,NaN,Fluxus Collection,Media,Cassette
130261,218011,Portrait of Takako Saito,21398,NaN,Prints & Illustrated Books,Photograph,Gelatin silver print

In [13]:
artworks_df_final = artworks_df_clean.dropna()
artworks_df_final.head()

,Artwork ID,Title,Artist ID,Date,Department,Classification,Medium
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,1896,Architecture & Design,Architecture,Ink and cut-and-pasted painted pages on paper
1,3,"City of Music, National Superior Conservatory ...",7470,1987,Architecture & Design,Architecture,Paint and colored pencil on print
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,1903,Architecture & Design,Architecture,"Graphite, pen, color pencil, ink, and gouache ..."
3,5,"The Manhattan Transcripts Project, New York, N...",7056,1980,Architecture & Design,Architecture,Photographic reproduction with colored synthet...
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,1903,Architecture & Design,Architecture,"Graphite, color pencil, ink, and gouache on tr..."

In [14]:
artworks_df_final.dtypes

Artwork ID         int64
Title             object
Artist ID         object
Date              object
Department        object
Classification    object
Medium            object
dtype: object

In [15]:
artists_df_final.dtypes

artist_id        int64
name            object
nationality     object
gender          object
birth_year     float64
dtype: object

In [16]:
test = artworks_df_final.drop

In [17]:
artworks_df_final = artworks_df_final.loc[artworks_df_final['Artist ID'].str.contains(" ")==False]

In [18]:
artworks_df_final['Artist ID']

0          6210
1          7470
2          7605
3          7056
4          7605
          ...
130219     1634
130220     1634
130221     1634
130244     2637
130259    67695
Name: Artist ID, Length: 110069, dtype: object

In [19]:
artworks_df_final['Artist ID'] = artworks_df_final['Artist ID'].astype(int)

C:\Users\hills\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
artworks_df_final.dtypes

Artwork ID         int64
Title             object
Artist ID          int32
Date              object
Department        object
Classification    object
Medium            object
dtype: object

In [21]:
art_Final = artworks_df_final.rename(columns ={"Artwork ID": "artwork_id", "Title":"title", "Artist ID": "artist_id", "Date": "date", "Department": "department", "Classification": "classification", "Medium": "medium"})

In [22]:
art_Final

,artwork_id,title,artist_id,date,department,classification,medium
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,1896,Architecture & Design,Architecture,Ink and cut-and-pasted painted pages on paper
1,3,"City of Music, National Superior Conservatory ...",7470,1987,Architecture & Design,Architecture,Paint and colored pencil on print
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,1903,Architecture & Design,Architecture,"Graphite, pen, color pencil, ink, and gouache ..."
3,5,"The Manhattan Transcripts Project, New York, N...",7056,1980,Architecture & Design,Architecture,Photographic reproduction with colored synthet...
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,1903,Architecture & Design,Architecture,"Graphite, color pencil, ink, and gouache on tr..."
...,...,...,...,...,...,...,...
130219,217893,Rotoreliefs (Optical Disks),1634,"1935, published 1953",Prints & Illustrated Books,Print,One from a series of six offset lithographs
130220,217894,Rotoreliefs (Optical Disks),1634,"1935, published 1953",Prints & Illustrated Books,Print,One from a series of six offset lithographs
130221,217895,Rotoreliefs (Optical Disks),1634,"1935, published 1953",Prints & Illustrated Books,Print,One from a series of six offset lithographs
130244,217970,"Vocal Composition 1959, and others",2637,1959,Fluxus Collection,Media,Casette
130259,217985,Fluxphone Compositions,67695,1969,Fluxus Collection,Media,Cassette

In [23]:
art_Final.dropna(subset=['artwork_id'])

,artwork_id,title,artist_id,date,department,classification,medium
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,1896,Architecture & Design,Architecture,Ink and cut-and-pasted painted pages on paper
1,3,"City of Music, National Superior Conservatory ...",7470,1987,Architecture & Design,Architecture,Paint and colored pencil on print
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,1903,Architecture & Design,Architecture,"Graphite, pen, color pencil, ink, and gouache ..."
3,5,"The Manhattan Transcripts Project, New York, N...",7056,1980,Architecture & Design,Architecture,Photographic reproduction with colored synthet...
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,1903,Architecture & Design,Architecture,"Graphite, color pencil, ink, and gouache on tr..."
...,...,...,...,...,...,...,...
130219,217893,Rotoreliefs (Optical Disks),1634,"1935, published 1953",Prints & Illustrated Books,Print,One from a series of six offset lithographs
130220,217894,Rotoreliefs (Optical Disks),1634,"1935, published 1953",Prints & Illustrated Books,Print,One from a series of six offset lithographs
130221,217895,Rotoreliefs (Optical Disks),1634,"1935, published 1953",Prints & Illustrated Books,Print,One from a series of six offset lithographs
130244,217970,"Vocal Composition 1959, and others",2637,1959,Fluxus Collection,Media,Casette
130259,217985,Fluxphone Compositions,67695,1969,Fluxus Collection,Media,Cassette

In [24]:
art_Final.index.names = ['artwork_id']

In [25]:
artists_df_final.to_sql(name='artists', con = connection, if_exists = 'append', index = False)

In [26]:
art_Final.to_sql(name='artworks', con = connection, if_exists = 'append', index = False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "artworks" violates foreign key constraint "artworks_artist_id_fkey"
DETAIL:  Key (artist_id)=(7470) is not present in table "artists".

[SQL: INSERT INTO artworks (artwork_id, title, artist_id, date, department, classification, medium) VALUES (%(artwork_id)s, %(title)s, %(artist_id)s, %(date)s, %(department)s, %(classification)s, %(medium)s)]
[parameters: ({'artwork_id': 2, 'title': 'Ferdinandsbrücke Project, Vienna, Austria, Elevation, preliminary version', 'artist_id': 6210, 'date': '1896', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Ink and cut-and-pasted painted pages on paper'}, {'artwork_id': 3, 'title': 'City of Music, National Superior Conservatory of Music and Dance, Paris, France, View from interior courtyard', 'artist_id': 7470, 'date': '1987', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Paint and colored pencil on print'}, {'artwork_id': 4, 'title': 'Villa near Vienna Project, Outside Vienna, Austria, Elevation', 'artist_id': 7605, 'date': '1903', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Graphite, pen, color pencil, ink, and gouache on tracing paper'}, {'artwork_id': 5, 'title': 'The Manhattan Transcripts Project, New York, New York, Introductory panel to Episode 1: The Park', 'artist_id': 7056, 'date': '1980', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Photographic reproduction with colored synthetic laminate'}, {'artwork_id': 6, 'title': 'Villa, project, outside Vienna, Austria, Exterior perspective', 'artist_id': 7605, 'date': '1903', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Graphite, color pencil, ink, and gouache on tracing paper'}, {'artwork_id': 7, 'title': 'The Manhattan Transcripts Project, New York, New York, Episode 1: The Park', 'artist_id': 7056, 'date': '1976-77', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Gelatin silver photograph'}, {'artwork_id': 8, 'title': 'The Manhattan Transcripts Project, New York, New York, Episode 1: The Park', 'artist_id': 7056, 'date': '1976-77', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Gelatin silver photographs'}, {'artwork_id': 9, 'title': 'The Manhattan Transcripts Project, New York, New York, Episode 1: The Park', 'artist_id': 7056, 'date': '1976-77', 'department': 'Architecture & Design', 'classification': 'Architecture', 'medium': 'Gelatin silver photograph'}  ... displaying 10 of 110069 total bound parameter sets ...  {'artwork_id': 217970, 'title': 'Vocal Composition 1959, and others', 'artist_id': 2637, 'date': '1959', 'department': 'Fluxus Collection', 'classification': 'Media', 'medium': 'Casette'}, {'artwork_id': 217985, 'title': 'Fluxphone Compositions', 'artist_id': 67695, 'date': '1969', 'department': 'Fluxus Collection', 'classification': 'Media', 'medium': 'Cassette'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [ ]:
art_Final.index.dropna()